<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4">
	<servlet>
		<servlet-name>Browse Servlet</servlet-name>
		<servlet-class>ua.nure.cs.koshurnikov.usermanagement.web.BrowseServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Add Servlet</servlet-name>
		<servlet-class>ua.nure.cs.koshurnikov.usermanagement.web.AddServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Edit Servlet</servlet-name>
		<servlet-class>ua.nure.cs.koshurnikov.usermanagement.web.EditServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<serviet-name>Browse Servlet</serviet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<serviet-name>Add Servlet</serviet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<serviet-name>Edit Servlet</serviet-name>
		<url-pattern>/edit</url-pattern>
	</servlet-mapping>
</web-app>